<div class="container mt-3"><div class="card">
    <div class="card-body">
      <table>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Proyectos</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fila of filasTabla">
            <tr>
              <td>{{ fila.cliente }}</td>
              <td>
                <ul>
                  
                </ul>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
   </div>
</div>
