<div class="container mt-4">
  <div *ngIf='display == true' class="card" >
    <div class="card-body">
      <span class="hr">Lista de Clientes</span>
      <button
        class="btn btn-primary btn-lg float-right"
        routerLink="/create-clientes"
      >
        Agregar
      </button>
      <h5 class="text-primary mt-3" *ngIf="clientes.length == 0">
        No hay datos para mostrar
      </h5>
      <div class="form-group mt-5">
      
        <input type="text" class="form-control" id="search" (keyup)="searchClient($event)" placeholder="Buscar Clientes por el nombre">
      </div>
      <table *ngIf="clientes.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes | filter:searchText">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellidos }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.salario | currency }}</td>
            <td>
              <i
                class="fas fa-edit fa-lg text-info mr-2"
                [routerLink]="['/edit-cliente/', cliente.id]"
              ></i>
              <i
                (click)="eliminarCliente(cliente.id)"
                class="fas fa-trash-alt fa-lg text-danger mr-2"
              ></i>
              <i
                class="fas fa-plus fa-lg text-success"
                (click)="getProyectos(cliente.id, cliente.nombre)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card" *ngIf="projects.length > 0">
    <div class="card-body">
      <span class="hr">Lista de Proyectos de {{cliente}}</span>
      <button
      class="btn btn-primary btn-lg float-right" (click)="reloadCurrentPage()">
      Atras
    </button>

      <h5 class="text-primary mt-3" *ngIf="projects.length == 0">
        No hay datos para mostrar
      </h5>
      <table *ngIf="projects.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of projects">
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.direccion }}</td>
            <td>{{ proyecto.precioTotal | currency }}</td>
            <td>
              
              <i
                class="fas fa-plus fa-lg text-success"
                (click)="getMatProyecto(proyecto.id,proyecto.nombre)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card" *ngIf="matprojects.length > 0">
    <div class="card-body">
      <span class="hr">Lista de Materailes del proyecto {{proyecto}}</span>
     

      <h5 class="text-primary mt-3" *ngIf="matprojects.length == 0">
        No hay datos para mostrar
      </h5>
      <table *ngIf="projects.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let matproject of matprojects">
            <td>{{ matproject.nombre }}</td>
            <td>{{ matproject.descripcion }}</td>
            <td>{{ matproject.precio | currency }}</td> <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
