<nav class="navbar navbar-dark bg-primary">
  <a class="route_link" routerLink="/" >
  <span class="navbar-brand mb-0 h1">App Proyectos</span></a>
  <div class="text-center">
    <a class="btn btn-info" routerLink="/create-proyectos" role="button">Crear un Proyecto</a> 

  </div>
  <div class="dropdown">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown"
    >
      Admin
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/list-materiales">Materiales</a>
      <a class="dropdown-item" routerLink="/list-trabajadores">Trabajadores</a>     
  
    </div>
  </div>
</nav>
