<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #89cff0; ">
  <a class="navbar-brand" routerLink="/dashboard"><img src="../../../assets/Adrian Ramirez-logos-2/Adrian Ramirez-logos_black.png" alt="" width="30" height="30" style="margin-left: 10px;"></a>
 <!--  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">hola</span>
  </button> -->
  <div class="collapse navbar-collapse " id="navbarNav" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
      <li class="nav-item ">
        <a class="nav-link " routerLink="/dashboard">Main Dashboard</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-proyectos">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-materiales">Materiales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-trabajadores">Trabajadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-clientes">Clientes</a>
      </li>
    </ul>
    <div *ngIf="isLoggedIn">
      <div class="d-flex align-items-end justify-content-end">
      <button class="btn btn-outline-light" style="margin-right: 10px;" type="button" (click)="logOut()">Logout</button></div>
    </div>
  </div>
</nav>


