<nav class="navbar navbar-dark bg-primary">
  <a routerLink="/list-clientes">
  <span class="navbar-brand mb-0 h1">App Proyectos</span></a>
  <div class="dropdown">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown"
    >
      Admin
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/list-materiales">Materiales</a>
      <a class="dropdown-item" routerLink="/list-trabajadores">Trabajadores</a>
      
  
    </div>
  </div>
</nav>
