<div class="container">
    <form [formGroup]="form">
        <div class="row form-group ">
            <div class="pt-4 col-4 input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="clientSelect">Cliente</label>
                </div>
                <select formControlName="clientSelect" class="form-control" id="clientSelect" #clientSelect
                    (change)="onSelected(clientSelect.value)">
                    <option value="none" selected disabled>Select an Option</option>
                    <option *ngFor="let client of clients" [value]="client.id">
                        {{client.nombre}} {{client.apellidos}}
                    </option>
                </select>
            </div>
            <div class="pt-4 col-4 right-section input-group mb-3" *ngIf="clientSelect.value">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="clientType">Tipo Cliente</label>
                </div>

                <select formControlName="clientType" class="form-control" id="clientType">
                    <option value="none" selected disabled>Select an Option</option>
                    <option value="1"> Comercial</option>
                    <option value="2"> Residencial</option>
                </select>
            </div>
            <div class="pt-4 col-4 right-section input-group mb-3" *ngIf="clientSelect.value">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="projecType">Tipo de proyecto</label>
                </div>
                <select formControlName="projecType" class="form-control" id="clientType">
                    <option value="none" selected disabled>Select an Option</option>
                    <option value="1"> Nueva construccion</option>
                    <option value="2"> Servicio</option>
                </select>
            </div>
        </div>

        <div *ngIf="totalP > 0" class="alert alert-success text-center">
            Total Proyecto: <h5 class="font-weight-bold">{{totalP |currency}}</h5>
        </div>

        <div *ngIf="clientSelect.value">
            <div class="row">
                <div class="col-6 left-section">
                    <div class="card">
                        <div class="card-header text-center text-info font-weight-bold">
                            Materiales disponibles
                        </div>
                    </div>
                    <div *ngFor="let material of materials" class="card">
                        <div class="list-group list-group-item row-cols">
                            <span class="col-6 font-weight-bold">{{material.nombre}}</span>
                            <span class=" col-4">{{material.precio | currency}}</span>
                            <button (click)="addMaterial(material)" class="btn btn-primary float-right btn-sm">Add to
                                cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 right-section">
                    <div class="card" *ngIf="selectedMaterials.length > 0">
                        <div class="card-header text-center text-info font-weight-bold">
                            Materiales seleccionados
                        </div>
                    </div>
                    <div *ngFor="let selected of selectedMaterials" class="card">
                        <div class="card-body row-cols-4">
                            <span class="card-title col-6 font-weight-bold">{{selected.nombre}}</span>
                            <span class="card-text col-4">{{selected.precio |currency}}</span>
                            <span>Cantidad: <input type="number" formControlName="quantity_{{selected.id}}" [(ngModel)]="selected.quantity"
                                    class="col-2"></span>
                            <button (click)="removeMaterial(selected)"
                                class="btn btn-danger btn-sm float-right">Remove</button>
                        </div>
                    </div>
                    <div *ngIf="selectedMaterials.length > 0" class="alert alert-success text-center">
                        Sub-Total Price Materiales: <span class="font-weight-bold">{{updateTotal() |currency}}</span>
                    </div>
                </div>
            </div>


            <div class="row pt-5">
                <div class="left-section col-6">
                    <div *ngIf="trabajadores.length <= 0" class="alert alert-success text-center">
                        <span class="font-weight-bold">No hay trabajadores Disponibles</span>
                    </div>

                    <div class="card" *ngIf="trabajadores.length > 0">

                        <div class="card-header text-center text-info font-weight-bold">
                            Trabajadores disponibles <span class="badge badge-pill badge-warning">{{trabajadores.length}}</span>
                        </div>

                        <ul class="list-group list-group-item" *ngFor="let trabajador of trabajadores">
                            <li class="list-group-item row-cols" (click)="selectTrabajador(trabajador)">
                                <span class="card-title">{{trabajador.nombre }} {{trabajador.apellidos }} 
                                    <i class="fas fa-plus-circle fa-lg text-info float-right"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-6" *ngIf="selectedTrabajadores.length > 0">
                    <div class="card">
                        <div class="card-header text-center text-info font-weight-bold">
                            Trabajadores seleccionados <span class="badge badge-pill badge-success">{{selectedTrabajadores.length}}</span>
                        </div>
                        <div class="list-group" *ngFor="let selectedTrabajador of selectedTrabajadores; let i = index">
                            <div class="list-group-item font-weight-bold">
                                <div class="input-group mb-3 ">
                                    <span (click)="unselectTrabajador(selectedTrabajador)">
                                        <i class="fas fa-minus-circle fa-lg text-danger m-2"></i>{{
                                        selectedTrabajador.nombre }} {{selectedTrabajador.apellidos }}</span>
                                </div>
                                <div class="input-group  mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="horas">horas</span>
                                    </div>
                                    <input id="horas" formControlName="horas" type="number" placeholder="C/horas"
                                        [formControl]="selectedTrabajadores[i].form.get('horas')"
                                        (input)="updateSubtotal(selectedTrabajador)">
                                </div>
                                <div class="input-group  mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="precioHora">Precio Hora </span>
                                    </div>
                                    <input formControlName="precioHora" type="number" id="precioHora"
                                        [formControl]="selectedTrabajadores[i].form.get('precioHora')"
                                        (input)="updateSubtotal(selectedTrabajador) " placeholder="$/hora">
                                </div>
                                <hr>
                                <div>Subtotal: {{ selectedTrabajador.subtotal | currency}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedTrabajadores.length > 0" class="alert alert-success text-center">
                        Sub-Total Trabajadores: <span class="font-weight-bold"> {{totalT | currency}}</span>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>