<div class="wrapper mt-5">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/adrian-1.png" alt="login">
  <!--       <h1>Login</h1> -->
        <form (ngSubmit)="login()" [formGroup]="loginUsuario">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
            <label >Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <label>Password</label>
          </div>
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
        </div>

    <a routerLink="/recuperar-password">Recuperar contraseña</a>
    </form>
    </div>
<app-spinner *ngIf="loading"></app-spinner> 
</div>