<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <span class="hr">Lista de Trabajadores</span>
        <button
          class="btn btn-primary btn-lg float-right"
          routerLink="/create-trabajadores"
        >
          Agregar
        </button>
        <h5 class="text-primary mt-3" *ngIf="trabajadores.length == 0">
          No hay datos para mostrar
        </h5>
        <table *ngIf="trabajadores.length > 0" class="table table-striped mt-5">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Cargo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trabajador of trabajadores">
              <td>{{ trabajador.nombre }}</td>
              <td>{{ trabajador.apellidos }}</td>
              <td>{{ trabajador.cargo }}</td>
  
              <td>
                <i
                  class="fas fa-edit fa-lg text-info mr-2"
                  [routerLink]="['/edit-trabajador/', trabajador.id]"
                ></i>
                <i
                  (click)="eliminarTrabajadores(trabajador.id)"
                  class="fas fa-trash-alt fa-lg text-danger"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
