/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html,body{

   /* background-image: url('./assets/fondo.jpg'); */
   /* background: linear-gradient(rgba(29,93,236,0.5), rgba(29,93,236,0.5)), url('./assets/fondo.jpg'); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100%;
}
.form-floating{
   text-align: start;
}

.errorLabel{
   margin-left: 5px;
}

:root {
  --primary-color: #89cff0;
}

/* Colores más oscuros */
.bg-primary-dark {
  background-color: hsl(200, 80%, 70%);
}

.text-primary-dark {
  color: hsl(200, 80%, 70%);
}

/* Colores medios */
.bg-primary-medium {
  background-color: hsl(200, 80%, 85%);
}

.text-primary-medium {
  color: hsl(200, 80%, 85%);
}

/* Colores más claros */
.bg-primary-light {
  background-color: hsl(200, 80%, 95%);
}

.text-primary-light {
  color: hsl(200, 80%, 95%);
}